{% extends 'base.html.twig' %}

{% block body %}
    <h1>Szczegóły użytkownika</h1>

    <div class="card">
        <h5 class="card-header">{{ user.id }}# {{ user.name }} {{ user.surname }}</h5>
        <div class="card-body">
            <h5 class="card-title">Stanowisko: {{ user.position }}</h5>
            <p class="card-text">Data urodzenia:  {{ user.birthdate | date("d-m-Y") }}</p>
            <p class="card-text">Login:  {{ user.username }}</p>
            <p class="card-text">Email:  {{ user.email }}</p>
            <p class="card-text">Data rejestracji:  {{ user.registeredAt | date("d-m-Y") }}</p>
            <a href="{{ url('user_list') }}" class="btn btn-primary">Powrót</a>
        </div>
    </div>

{% endblock %}